/*Reglas generales*/

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/*Redimension de la fuente de la pagina*/


/*clear floats after the columns*/

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Columnas*/

.column-index {
    width: 20%;
    float: left;
    position: fixed;
}

.column-pag {
    width: 60%;
    float: left;
    margin-left: 20%;
}

.column-noticias {
    width: 20%;
    float: left;
    position: fixed;
    margin-left: 80%;
}

.column-1 {
    width: 100%;
    float: left;
}


/*Media Query*/

@media only screen and (max-width:600px) {}